<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link href ="/css/style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
        <header>
            <div class="encabezado">
                <a href='/'><img class='logo' src="/images/logo-mercado-liebre.svg" height="100px" width="360px"></a>
                <input type="text" placeholder="Burcar productos, marcas"> <br>
                <i class ="fas fa-search"></i>

                <p class="cuotas"> <i class ="fas fa-hand-holding-usd" ></i>Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
            <div class="navegador">
                <ul class='left-nav'>
                    <li type='none'>
                        <a href="#">Ofertas</a>
                    </li>
                    <li type='none'>
                        <a href="#">Tiendas Oficiales</a>
                    </li>
                    <li type='none'>
                        <a href="#">Vender</a>
                    </li>
                    <li type='none'>
                        <a href="#">Ayuda</a>
                    </li>
                </ul>
                <ul class='right-nav'>
                    <li type='none'>
                        <a href="/register">Creá tu cuenta </a>
                        <i class="far fa-id-card"></i>
                    </li>
                    <li type='none'>
                        <a href="/login">Ingresá </a>
                        <i class="fas fa-sign-in-alt"></i>
                    </li>
                    <li type='none'>
                        <a href="#">Mis compras </a>
                        <i class="fas fa-shopping-basket"></i>
                    </li>
                </ul>

            </div>
                    <div class="burger-menu">
                        <a href="" class='hamburguer-buton'><i class="fas fa-bars"></i></a>
                    </div>
         </header>
<!-- 
<form action="/" method="POST" class="create-form">
    <div class="control-formulario">
        <label>Nombre del prodcuto:</label>
        <input type="text" name="nombre" class="control">
    </div>
    <div class="control-formulario">
        <label>Precio:</label>
        <input type="text" name="precio" placeholder="123.56" class="control">
    </div>
    <div class="control-formulario">
        <label for="">Categoria:</label>
        <select name="categoria" class="control">
            <option value="hogar">Hogar</option>
            <option value="electro">Electro</option>
            <option value="indumentaria">Indumentaria</option>
        </select>
    </div>
    <div class="control-formulario">
        <label for="">Ciudad:</label>
        <select name="ciudad" class="control">
            <option value="baires">Buenos Aires</option>
            <option value="ros">Rosario</option>
            <option value="mdz">Mendoza</option>
        </select>
    </div>
    <div class="control-formulario">
        <label >Descripcion:</label>
        <textarea name="descripcion" id="" cols="30" rows="10" class="control"></textarea>
    </div>
    <div class="control-formulario">
        <label>Esta en Oferta:</label>
        <input type="radio" name="enOferta" id="">
    </div>
    <button type="submit" class="boton-formulario">Guardar</button>
    <button type="reset" class="boton-formulario">Borrar</button>
   
</form>-->

        <div>
            <img class='banner'src="/images/img-home-banner.jpg" alt="" width="360px">
        </div>
        
    <main>
        <p class="visita"><b>Basado en tu última visita</b></p>
        
        <section class="ultimaVisita">
        
                <article>
                    <img src="/images/img-cafetera-moulinex.jpg" alt="" width="360px">
                    
                    <div class="abajoArticulo">
                       
                             <i class="fas fa-truck camion"></i>
                     
                        <div class="precioDescuento"> 
                            <p class="precio">
                                $6.770 <br>
                            </p>
                            <p class="descuento">
                                40% OFF <br></p>
                            <p class="articulo"> Cafetera Moulinex</p>
                        </div>     
                    </div>
                </article>    
        

                <article>
                    <img src="/images/img-macbook-pro-2019.jpg" alt="" width="360px">
                    
                        <div class="abajoArticulo">                          
                                <i class="fas fa-truck "></i>                           
                            <div class="precioDescuento">
                                <p class="precio">
                                    $230.000 <br>
                                </p>
                                <p class="descuento"> 
                                    20% off <br></p>
                                    <p class="articulo"> MacBook Pro 2019</p>
                            </div>
                        </div>
                </article>   
                <article>
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="" width="360px">
                         
                     <div class="abajoArticulo">                            
                                <i class="fas fa-truck "></i>                          
                            <div class="precioDescuento">
                                <p class="precio">
                                    $70.500 <br>
                                </p>
                                <p class="descuento">
                                    10% off <br>  </p>
                                    <p class="articulo">  Samsung Galaxy S10
                                </p>
                            </div> 
                        </div>
                </article> 
                <article>
                    <img src="/images/img-tv-samsung-smart.jpg" alt="" width="360px">
                        <div class="abajoArticulo">
                            <div class="camion">
                                <i class="fas fa-truck "></i>
                            </div>
                            <div class="precioDescuento">
                                <p class="precio">
                                    $23.200 <br>
                                </p>
                                <p class="descuento"> 
                                    5% off <br></p>
                                    <p class="articulo">  SmartTv Samsung 43"
                                </p>
                            </div>
                        </div>
                    </article> 
        </section>           
                <p class="ofertas"><b>Sección de Ofertas</b></p>
                
                <section class="seccionOOfetas">
                <article>
                    <img src="/images/img-cafetera-moulinex.jpg" alt="" width="360px">
                    <div class="abajoArticulo">
                        <div class="camion">
                            <i class="fas fa-truck "></i>
                        </div>
                        <div class="precioDescuento">
                        <p class="precio">
                            $6.770 <br>
                        </p>
                        <p class="descuento"> 
                            40% off <br></p>
                            <p class="articulo">     Cafetera Moulinex
                        </p>
                        </div>
                    </div>
                </article> 
                <article>
                        <img src="/images/img-macbook-pro-2019.jpg" alt="" width="360px">
                        <div class="abajoArticulo">
                            <div class="camion">
                                <i class="fas fa-truck "></i>
                            </div>
                            <div class="precioDescuento">
                                <p class="precio">
                                    $230.000<br>
                                </p>
                                <p class="descuento">
                                        20% off<br> </p>
                                <p class="articulo">MacBook Pro 2019
                                </p>
                            </div>
                        </div>
                </article>    
                <article>
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="" width="360px">
                        <div class="abajoArticulo">
                            <div class="camion">
                                <i class="fas fa-truck "></i>
                            </div>
                            <div class="precioDescuento">
                                <p class="precio">
                                        $70.500 <br>
                                </p>
                                <p class="descuento">
                                    10% off <br> </p>
                                <p class="articulo">        Samsung Galaxy S10
                                </p>
                            </div>    
                        </div>
                </article> 
                <article> 
                        <img src="/images/img-tv-samsung-smart.jpg" alt="" width="360px">
                        <div class="abajoArticulo">
                            <div class="camion">
                            <i class="fas fa-truck "></i>
                            </div>
                            <div class="precioDescuento">
                                <p class="precio">
                                        $23.200 <br>
                                </p>
                                <p class="descuento">
                                        5% off <br> </p>
                                <p class="articulo">         SmartTv Samsung 43"
                                </p>
                            </div>    
                        </div>
        </section>
        </article> 
    </main>

     <footer>
        <section>
            <i class="fas fa-credit-card"></i>
            <h3>Paga con tarjeta o efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </section>

        <section>
            <i class="fas fa-gift"></i>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </section>

        <section>
            <i class="fas fa-user-shield"></i>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@</p>
        </section>
        <br>
    </footer>

        <p class="copyright" >Copyright © 1999-2020 MercadoLiebre S.R.L.</p>

</body>
</html>