<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon2.png">
    <link href ="/css/style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
        <header>
            <div class="encabezado">
                <a href='/'><img class='logo' src="/images/logo-mercado-liebre.svg" height="100px" width="360px"></a>
                <input type="text" placeholder="Burcar productos, marcas"> <br>
                <i class ="fas fa-search"></i>

                <p class="cuotas"> <i class ="fas fa-hand-holding-usd" ></i>Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
            <div class="navegador">
                <ul class='left-nav'>
                    <li type='none'>
                        <a href="#">Ofertas</a>
                    </li>
                    <li type='none'>
                        <a href="#">Tiendas Oficiales</a>
                    </li>
                    <li type='none'>
                        <a href="#">Vender</a>
                    </li>
                    <li type='none'>
                        <a href="#">Ayuda</a>
                    </li>
                </ul>
                <ul class='right-nav'>
                    <li type='none'>
                        <a href="/register">Creá tu cuenta </a>
                        <i class="far fa-id-card"></i>
                    </li>
                    <li type='none'>
                        <a href="/login">Ingresá </a>
                        <i class="fas fa-sign-in-alt"></i>
                    </li>
                    <li type='none'>
                        <a href="#">Mis compras </a>
                        <i class="fas fa-shopping-basket"></i>
                    </li>
                </ul>

            </div>
                    <div class="burger-menu">
                        <a href="" class='hamburguer-buton'><i class="fas fa-bars"></i></a>
                    </div>
         </header>
         
        <!-- Formulario -->
        <form action="/" method="POST" class="create-form">
            <div class="control-formulario">
                <label></label>
                <input type="text" name="nombre" class="control" placeholder="Nombre y Apellido:">
                <span class="feedback"></span>
            </div>
    
            <div class="control-formulario">
                <label></label>
                <input type="text" name="usuario" class="control" placeholder="Nombre de usuari@">
            </div>
            
            <div class=”control-formulario”>
                <label  for="">Fecha de Nacimiento:  </label>
                <input  input type="date" name="fecha">
            </div>
    
            <div class="control-formulario">
                <label for=""></label>
                <input type="text" name="domicilio" class="control" placeholder="Domicilio">
            </div>
    
            <div class="control-formulario">
                <label for="">Perfil del usuario</label>
                <label for="">Comprar</label>
                <input type="radio" name="compra-venta" value="Comprar">
                <label for="">Vender</label>
                <input type="radio" name="compra-venta" value="Vender">
            </div>
    
            <div class="control-formulario">
                <label>Categorias de interes:</label>
                <select name="categoria">
                    <option value="">Electro</option>
                    <option value="">Moda</option>
                    <option value="">Hogar</option>	
                    <option value="">Jugueteria</option>
                    <option value="">Vida Sana</option>
                </select>
            </div>
    
            <div class="control-formulario">
                <label>Foto de Usuario:</label>
                <input type="file" name="avatar">
            </div>
    
            <div class="control-formulario">
                <label>Contraseña:</label>
                <input type="password" name="contraseña" class="control">
            </div>
    
            <div class="control-formulario">
                <label>Confirmar Contraseña:</label>
                <input type="password" name="contraseña" class="control">
            </div>
    
            <button type="submit" class="boton-formulario">Enviar</button>
            <button type="reset" class="boton-formulario">Borrar</button>
        
        </form>

       
</body>
</html>