:root {
    --Amarillo: #EAC926;
    --Azul: #03264C;
    --Celeste: #1259c3;
    --Gris_oscuro: #666;
    --Gris_claro: #ebebeb;
    --Verde: #39b54a;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: var(--Amarillo);
    padding: 24px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    background-color: var(--Gris_claro);
}

.titulares {
    font-size: 24px;
}

.precio {
    width: 30%;
    font-size: 18px;
    font-weight: 300;
    margin: 0;
}

.descuento {
    font-size: 16px;
    color: var(--Verde);
    margin: 0;
}

.producto {
    font-size: 16px;
    text-align: left;
    padding: 24px;
    color: var(--Gris-claro);
    opacity: 0;   
}

main {
    width: 90%;
    margin: auto;
}

section {
    padding: 10px;
    text-align: center;
}

.descripcionArticulo {
    border-top: 1px solid #ebebeb;
    position: relative;
}

.precioDescuento {
    display: flex;
    margin: 24px 0;
    padding: 15px;
}

article {
    margin: 12px 0;
    background-color: white;
    font-size: 19px;
    box-shadow: 0px 0px 10px #ebebeb (100, 100, 100);
}

.logo {
    width: 50%;
    height: auto;
    justify-content: left;
}

.barra-busq{
    border-radius: 10px;
    border: 1px;
    width: 20%;
    height: 3%;
}

.fa-search{
    margin-left: -3%;
}

.navegador {
    display: none;
}

.encabezado {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.cuotas {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    padding: 12px 0;
}

main section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.banner {
    width: 100%;
    
}

h3 {
    font-size: 24px;
    padding: 12px;
}

html {
    font-family: Roboto;
    font-size: 12px;
    }

p.descuento {
    font-size: 16px;
    font-weight: 300;
    color:  #39b54a;
}
.navegador a {
    text-decoration: none;
    color: black;
}

.descripcionArticulo i {
    display: block;
    padding: 5px;
    width: 30px;
    height: 30px;
    color: #39b54a;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

.create-form {
    padding: 20px 15px;
}

.control-formulario {
    margin-bottom: 15px;

}

.control-formulario label {
    margin-bottom: 5px;
    font-style: bold;
    display: block;
}

.control {
    width: 95%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid rgb(255, 255, 255);
    
}

.boton-formulario {
    background-color: var(--Verde);
    border: none;
    font-size: 20px;
    color: white;
    padding: 5px 10px;
    border-radius: 5px ;
}

.boton-formulario:hover {
    background-color: #0022AA;
}

img {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.hamburguer-buton {
    background-color: var(--Celeste);
    display: block;
    width: 60px;
    margin: 24px auto 0 auto;
    font-size: 24px;
    text-align: center;
    padding: 18px 0;
    color: white;
    border-radius: 10%;
}

footer {
    background-color: white;
    padding: 60px;
    text-align: center;
}

footer i {
    font-size: 38px;
    color: blue;
    margin-bottom: 12px;
    margin-top: 60px;
}

.copyright {
text-align: center;
}

footer i:hover {
    color: red;
}

article:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    transition: all 2s;
}

article:hover .articulo {
    opacity: 1;
    transition: opacity 2s;

}

article:hover i {
    transform: rotate(-90deg);
    transition: all 2s;
}

@media (min-width: 769px) {

    
    .hamburguer-buton {
        display: none;
    }
    .navegador {
        display: block;
        margin-top: 36px;
        display: flex;
        justify-content: space-between;
    }
    
    main section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 36px;
    }

    ul {
        display: flex;
        list-style: none;
    }
    ul li {
        margin: 0 6px;
    }

    footer {
        display: flex;
        justify-content: center;
    }

}

@media (min-width: 1200px) {

    main section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 36px;
    }
}